.recipe{
  margin-top: 20%; 
  margin-left: 16%;
  background: rgba(0, 0, 0, .8);
  color: whitesmoke;
}

#recipes {
    background: rgba(255, 255, 255, .7);    
    margin-left: 10%;
    margin-bottom: 5%;
    border-radius: 3px;
}

.recipe {
    border: 1px solid black;
    border-radius: 3px;
}

.recipe-header {
    text-align: center;
}

.recipe-image {    
	width: 300px;
}

.recipe a{
  color: 	white;
}

.ingredients{
  background: rgba(0, 0, 0, .9);
  border: 1px solid black; 
  text-align: left; 
}

.recipe-details{
  background: rgba(0, 0, 0, .8);
  border: 1px solid black;  
  border-radius: 3px;
  color: white;
  text-align: center;
}

.recipe-details img{
  height: 300px;
  border-radius: 3px;
}

#like-button{
  height: 30px;
}