<div id="recipes">
    <table cellspacing=8>
        <tr>
            <td class="arrow">
                <img src="../../imgs/left-arrow.png" class="arrow-img">
            </td>
            {{#each this}}
            <td class="recipe">
                <h1 class="recipe-header">{{this.name}}</h1>
                <img src="{{this.img}}" class="recipe-image">
                <div>
                    <br>
                    <strong>Preparation time:</strong> {{this.preparationTime}}
                </div>
                <div>
                    <br>
                    <strong>What do you need?</strong>
                    <br> {{#each this.ingredients}} {{this.ingredient}}, {{/each}}
                </div>
            </td>
            {{/each}}
            </td>
            <td class="arrow">
                <img src="../../imgs/right-arrow.png" class="arrow-img">
            </td>
        </tr>
    </table>
</div>


